<div>
  <img src="<%= @flat['imageUrl'] %>" alt="<%= @flat['name'] %>">
  <h1><%= @flat['name'] %></h1>
  <p><%= @flat['price'] %> | <%= @flat['priceCurrency'] %></p>
  <small>LAT: <%= @flat['lat'] %> - LON: <%= @flat['lng'] %> </small>
</div>